.detailsCont {
  padding: 24px;
  margin: 0 auto;
  margin-top: 40px;
}

.detailsFlex {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.imgCont {
  overflow: hidden;
  height: 220px;
  width: 100%;
  background-color: white;
  border-radius: 12px;
}

.image {
  object-fit: contain;
  transform: scale(0.9);
  width: 100%;
  height: 100%;
  transition: all;
  transition-duration: 300ms;
}

.image:hover {
  scale: 1.1;
}
